<div class="w-full h-full xl:h-full relative bg-stone-200">
    <!--Date section-->
    <div class="w-full min-h-24 grid grid-cols-7 justify-items-center items-center">
        <div class="grid h-14 bg-orange-600/40 rounded-lg text-balance" >
            <mat-icon class="place-self-center text-white font-semibold mx-1 scale-150" (click)="prevIndex()">arrow_left</mat-icon>
        </div>
        <div class="grid h-14 bg-orange-600 rounded-lg" *ngFor="let date of dateArray; index as i;" [ngStyle]="{'opacity': i == 0 ? '1' : '0.5'}">
            <span class="place-self-center text-lg text-white font-semibold font-exo tracking-widest px-3">{{date | date: 'dd'}}</span>
            <span class="place-self-center text-lg text-white font-semibold font-exo tracking-widest px-3">{{date | date: 'MM'}}</span>
        </div>
        <div class="grid h-14 bg-orange-600/40 rounded-lg">
            <mat-icon class="place-self-center text-white font-semibold mx-1 scale-150" (click)="nextIndex()">arrow_right</mat-icon>
        </div>
    </div>
    <!--Body part section-->
    <div class="flex justify-center">
        <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) != 0; else workoutLack" class="w-5/6 min-h-56 flex flex-row bg-orange-600 shadow-lg shadow-gray-600 rounded-t-xl">
            <div class="w-2/3 flex flex-col">
                <div class="w-2/3 mt-5 mx-5">
                    <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) == 1">
                        <span class="text-white text-lg font-semibold">Today's Chest Day</span>
                    </div>
                    <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) == 2">
                        <span class="text-white text-lg font-semibold">Today's Biceps Day</span>
                    </div>
                    <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) == 3">
                        <span class="text-white text-lg font-semibold">Today's Triceps Day</span>
                    </div>
                    <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) == 4">
                        <span class="text-white text-lg font-semibold">Today's Legs Day</span>
                    </div>
                    <div *ngIf="(dominantValueOfExerciseArray(mainBodyPart)) == 5">
                        <span class="text-white text-lg font-semibold">Today's Back Day</span>
                    </div>
                </div>
                <div class="mx-5 my-1">
                    <span class="text-white text-base">Lets start your training</span>
                </div>
                <div class="flex flex-row mx-5 mt-8">
                    <div class="self-center mr-2">
                        <mat-icon class="text-white scale-125">watch_later</mat-icon>
                    </div>
                    <div class="text-pretty">
                        <span class="text-white text-sm font-bold">
                            Training should take about 1h
                        </span>
                    </div>
                </div>
            </div>
            <div class="w-1/3 flex">
                <div class="self-center">
                    <img src="assets/chest-cartoon.png" alt="Chest muscles image" class="min-h-32 scale-150 xl:scale-125">
                </div>
            </div>
        </div>
        <ng-template #workoutLack>
            <div class="w-5/6 min-h-56 flex flex-row bg-orange-600 shadow-lg shadow-gray-600 rounded-t-xl">
                <span>Nie dodano cwiczen</span>
            </div>
        </ng-template>
    </div>
    <!--Exercises section-->
    <div class="flex flex-col place-items-center bg-stone-200">
        <!--Drop down list-->
        <div class="w-5/6 min-h-12 flex bg-stone-200 shadow-lg shadow-gray-400">
            <div class="w-full flex flex-row">
                <div class="w-2/3 grid">
                    <span class="place-self-center justify-self-start text-lg text-black font-semibold font-varela-round p-2">Check all exercises</span>
                </div>
                <div class="w-1/3 grid">
                    <mat-icon (click)="expandList()" class="place-self-center justify-self-end text-black m-2 scale-125">
                        <div *ngIf="isListExpanded; else elseBlock">arrow_upward</div>
                        <ng-template #elseBlock>list</ng-template>
                    </mat-icon>
                </div>
            </div>
        </div>
        <!--Exercises-->
        <div *ngIf="isListExpanded" class="w-5/6 flex flex-col bg-stone-200 shadow-lg shadow-gray-400 rounded-b-xl pb-2">
            <div *ngFor="let workout of getWorkoutByDate()">
                <button (click)="deleteWorkout(workout)">delete</button>
                <div class="w-full h-40 flex justify-around bg-white my-1 rounded-md">
                    <div class="w-1/3 flex" *ngIf="this.exerciseArray.at(convertIntoNumber(workout.exerciseId) - 1)?.imageUrl != ''; else other">
                        <div class="w-full flex bg-contain bg-center bg-no-repeat m-2" [ngStyle]="{'background-image': 'url(/assets/' + this.exerciseArray.at(convertIntoNumber(workout.exerciseId) - 1)?.imageUrl + '.jpeg)'}"></div>
                    </div>
                    <ng-template #other class="w-1/3 flex">
                        <span>Nie załadowano zdjęcia</span>
                    </ng-template>
                    <div class="w-2/3 flex flex-col">
                        <span class="self-start text-sm text-orange-600 font-semibold font-varela-round tracking-wider pt-3 py-1 lg:text-xl">{{this.exerciseArray.at(convertIntoNumber(workout.exerciseId) - 1)?.name}}</span>
                        <div class="flex flex-col">
                            <span class="text-base font-semibold font-varela-round px-1">Ciężar[kg] {{workout.weight}}</span>
                            <span class="text-base font-semibold font-varela-round px-1">Serie {{workout.series}}</span>    
                        </div>
                        <div class="flex flex-row justify-start">
                            <span class="text-base font-semibold font-varela-round px-1">Powtórzenia {{workout.reps}}</span>
                            <input class="m-1 scale-125" type="checkbox" name="isCompleted" id="isCompleted" [(ngModel)]="workout.isCompleted" (click)="isWorkoutCompleted(workout)">
                            <!--
                            <div class="grid grid-cols-5 gap-4">
                                <input type="checkbox" name="" id="" class="scale-150">
                                <input type="checkbox" name="" id="" class="scale-150">
                                <input type="checkbox" name="" id="" class="scale-150">
                            </div>
                        -->
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--Add exercise form-->
        <div class="w-5/6 h-fit grid bg-stone-200 shadow-lg shadow-gray-400 rounded-b-xl mt-5 mb-40">
            <div class="w-11/12 justify-self-center mt-2">
                <div class="w-full">
                    <label for="dateInput" class="text-lg text-black font-semibold font-varela-round mx-1">Data:</label>
                    <input type="date" id="dateInput" class="w-full rounded-xl p-1.5 font-semibold" [(ngModel)]="dateInput"> 
                </div>
                <div class="w-full">
                    <label for="series" class="text-lg text-black font-semibold font-varela-round mx-1 mt-1">Partia: </label>
                    <select class="w-full rounded-xl p-1.5" [(ngModel)]="selectedPart">
                        <option *ngFor="let part of bodyPart; index as i" [ngValue]="i + 1" class="font-exo font-semibold">{{part}}</option>
                    </select>
                    <div *ngIf="selectedPart">
                        <label for="series" class="text-lg text-black font-semibold font-varela-round mx-1 mt-1">Ćwiczenie: </label>
                        <select [(ngModel)]="exerciseInput" class="w-full rounded-xl p-1.5">
                            <option *ngFor="let exercise of bodyPartExercisesArray[selectedPart - 1]; index as n" [ngValue]="exercise.id" class="font-exo font-semibold">
                                {{exercise.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="w-full flex flex-col">
                    <label for="weightInput" class="text-lg text-black font-semibold font-varela-round mx-1 mt-1">Ciężar: </label>
                    <input type="number" id="weightInput" min="0" max="300" step="5" class="w-1/3 rounded-xl p-1.5 font-semibold tracking-widest" [(ngModel)]="weightInput"> 
                </div>
                <div class="w-full">
                    <label for="seriesInput" class="text-lg text-black font-semibold font-varela-round mx-1 mt-1">Serie: {{seriesInput}}</label>
                    <input type="range" id="seriesInput" min="0" max="10" class="w-full" [(ngModel)]="seriesInput"> 
                </div>
                <div class="w-full">
                    <label for="repsInput" class="text-lg text-black font-semibold font-varela-round mx-1 mt-1">Powtórzenia: {{repsInput}}</label>
                    <input type="range" id="repsInput" min="0" max="20" class="w-full" [(ngModel)]="repsInput"> 
                </div>
                <div class="w-full flex flex-row justify-around my-3">
                    <div>
                        <button (click)="submitForm()" class="w-28 h-10 bg-orange-600 border-2 border-orange-500 shadow-lg shadow-orange-300 rounded-md text-white text-lg font-semibold font-exo uppercase tracking-widest">dodaj</button>
                    </div>
                    <div>
                        <button  (click)="clearForm()" class="w-28 h-10 bg-orange-600 border-2 border-orange-500 shadow-lg shadow-orange-300 rounded-md text-white text-lg font-semibold font-exo uppercase tracking-widest">wyczyść</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
