<div class="w-full min-h-24 flex flex-row items-center fixed bottom-0 bg-white z-10">
    <div class="w-1/4 h-16 grid">
        <button class="grid">
            <mat-icon class="place-self-center font-bold scale-110">home</mat-icon>
            <span class="place-self-center">Home</span>    
        </button>
    </div>
    <div class="w-1/4 h-16 grid">
        <button class="grid">
            <mat-icon class="place-self-center font-bold scale-110">fitness_center</mat-icon>
            <span class="place-self-center">Workout</span>
        </button>
    </div>
    <div class="w-1/4 h-16 grid">
        <button class="grid">
            <mat-icon class="place-self-center font-bold scale-110">person</mat-icon>
            <span class="place-self-center">User</span>    
        </button>
    </div>
    <div class="w-1/4 h-16 grid">
        <button class="grid">
            <mat-icon class="place-self-center font-bold scale-110">settings</mat-icon>
            <span class="place-self-center">Settings</span>    
        </button>
    </div>
</div>
