<div class="w-full min-h-24 flex flex-row items-center fixed bottom-0 bg-white z-10">
    <div class="w-1/4 h-16 grid">
        <a class="grid" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon class="place-self-center font-bold scale-110">home</mat-icon>
            <span class="place-self-center font-varela-round">Home</span>    
        </a>
    </div>
    <div class="w-1/4 h-16 grid">
        <a class="grid" routerLink="/workout-page" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon class="place-self-center font-bold scale-110">fitness_center</mat-icon>
            <span class="place-self-center font-varela-roundo">Workout</span>
        </a>
    </div>
    <div class="w-1/4 h-16 grid">
        <a class="grid" routerLink="/exercises" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon class="place-self-center font-bold scale-110">accessibility_new</mat-icon>
            <span class="place-self-center font-varela-round">Exercises</span>    
        </a>
    </div>
    <div class="w-1/4 h-16 grid">
        <a class="grid" routerLink="/user" routerLinkActive="active" ariaCurrentWhenActive="page">
            <mat-icon class="place-self-center font-bold scale-110">person</mat-icon>
            <span class="place-self-center font-varela-round">User</span>    
        </a>
    </div>
</div>
