<div class="w-full min-h-24 flex flex-row items-center fixed bottom-0">
    <div class="w-1/4 h-16 grid">
        <mat-icon class="place-self-center font-bold">home</mat-icon>
        <span class="place-self-center">Home</span>
    </div>
    <div class="w-1/4 h-16 grid">
        <mat-icon class="place-self-center font-bold">fitness_center</mat-icon>
        <span class="place-self-center">Workout</span>
    </div>
    <div class="w-1/4 h-16 grid">
        <mat-icon class="place-self-center font-bold">person</mat-icon>
        <span class="place-self-center">User</span>
    </div>
    <div class="w-1/4 h-16 grid">
        <mat-icon class="place-self-center font-bold">settings</mat-icon>
        <span class="place-self-center">Settings</span>
    </div>
</div>
