<div class="w-full relative bg-stone-200">
    <div class="w-full min-h-24 flex flex-row items-center sticky top-0">
        <div class="w-1/3 grid">
            <mat-icon class="place-self-start ml-10 font-bold">keyboard_backspace</mat-icon>
        </div>
        <div class="w-1/3 grid">
            <h1 class="place-self-center text-2xl">Home</h1>
        </div>
        <div class="w-1/3 grid">
            <mat-icon class="place-self-end mr-10 font-bold">person</mat-icon>
        </div>
    </div>
    <div class="w-full min-h-24">
        <div class="ml-4">
            <h1 class="text-lg">Hejka Filip</h1>
        </div>
        <div class="ml-4">
            <p class="font-bold">There is no tomorrow </p>
        </div>
    </div>
</div>
